
	ul, li, a{
			list-style: none;

		    text-decoration: none;

	}

	div {
		 	/*border: 1px solid green;*/

	}

	header {
			float: left;
			/*position: absolute;*/
			z-index: 3;
			font-family: 'Averia Sans Libre',Georgia,'Microsoft JhengHei', DFKai-sb, PMingLiU, MingLiU, sans-serif;
			font-size: 1.8em;
			padding: 0cm;
			margin: 0cm;
			font-weight: 700;
			margin-left: 1cm;
			margin-top: 1cm;

	}

	header:hover {
		text-shadow: 100px 30px 8px #133015;

	}

	#head_pic {
		 display:block;
		  margin: auto;
		  overflow: hidden;
		  padding: 1cm;
	}


	#head_pic img {
		width: 80%;
		height: 80%;
		vertical-align : middle;
		border-radius: 20px;
		margin-left: 2.7cm;
		margin-bottom: 1cm;
		}




	.whole_content {
			width: auto;
			padding: 0em 1em 1em 1em;
			  
			background: url(http://subtlepatterns.com/patterns/dimension.png) repeat;
			  
			border-radius: 20px 105px 115px 35px;
			box-shadow: #808080 0px 10px 10px 10px;

		}



	.topmenu {
		/*position: fixed;*/

		float: right;
		border-radius: 10px;
		margin-right: 1.9cm;
		
		/* add */
		overflow: hidden; /* yes */
		z-index: 1;
		margin-top: -16px;
	
	}

	.topmenu li { 
		display: inline-block; 
		font-size: 1.2em;
		font-family: 'Averia Sans Libre',Georgia,Microsoft JhengHei, DFKai-sb, PMingLiU, MingLiU, sans-serif;

		background: #20B2AA;
		}

	.topmenu li {
				height:26px; 

		    color: white;
		    float: left;
		    text-decoration: none;
		    padding: 3px 25px;
		    letter-spacing: 1px;
		}
	.topmenu li:hover {
		    /*color: black;*/
		background: #008080;

		}
	.topmenu li:active {
		    position: relative;
		    top: 5px;
		}

	.search_bar {		
		height:26px; 
		line-height:21px;
	}


	form { 
	margin-bottom: -5px;
	vertical-align : middle;
	}


	.menu {
		    padding-bottom: 0.5cm;
		    clear:both;
		    overflow: auto;
		    padding-top: 1cm;
		    padding-left: 0.6cm;


		}

	.menu ul li { 
		display: inline; 
		font-size: 1em;
		/*font-family: Microsoft JhengHei, DFKai-sb, PMingLiU, MingLiU, sans-serif;*/

		}

	.menu ul li a {
		    color: black;
		    float: left;
		    text-decoration: none;
		    padding: 10px 25px;
		    letter-spacing: 1px;
		}
	.menu:hover li a {
		    text-shadow: 0px 0px 3px #555;
		    color: #bbb;
		    -webkit-transition: all .3s;
		}
	.menu li a:hover {
		    color: black;
		    text-shadow: 0px 0px 0px #000;

		}

	.menu li a:active {
		    position: relative;
		    top: 2px;
		}



	h3 {

			border-bottom:2px  dotted;
			border-bottom-color: #000;
			  
			font-size:1.5em;
			color:#444;
			padding: 10px;
			/*letter-spacing: 3px;ã€€*/
		}

	h3:first-letter
		{
			font-size:150%;
			color:#8B0000;
		}


	.right_list {
		float: left;
	    margin: 3em 0em 0em 5em;
		width: 40%;
		height: 300px;
		overflow: auto;
		background: none;

	}

	.left_list {
		float: left;
		margin: 3em 0em 0em 5em;
		width: 40%;
		height: 300px;
		overflow: auto;
	}

	.list_item a:last-child, .right_list a:last-child {
		border-radius: 0px 0px 10px 10px;
	}

	.left_list a:nth-child(odd) 
	{
		background: #FFC0CB;
	}

	.right_list a:nth-child(even)
	{
		background: #FFC0CB;
	}

	.list_head{
	margin: 0px 0px -0.2px 0px;
	background-color: #fca79e;
	/*background-color: #efecc3;*/
	border-color: #428bca;
	border-radius: 10px 10px 0px 0px;

	text-align: center;

	}


	
	.list_item{
		list-style: none;
		background-color: #fff;
	}


	.list_item :hover{
		color: #666;
		background: #DDD;
	}

	.list_item a {
		text-decoration: none;
		color: black;	
		position: relative;
		display: block;
		/*font-family: 'Averia Sans Libre',Georgia,Microsoft JhengHei, DFKai-sb, PMingLiU, MingLiU, sans-serif;*/

		font-size: 1.2em;
		padding: 7px;

	}

	.list_item :before{

		content: "";
	}



	.contact {
		clear:both;
		margin: 1cm;
		margin-top: 15cm;
		padding-top: 2cm;
		text-align: center;
	}


	.nccu {
		display: inline-block;
		padding: 15px 30px;
		border: 2px solid #989898;
		color: #989898;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		margin: 15px 5px 0 5px;
		transition: all .2s;
		font-family: 'Averia Sans Libre',Georgia,Microsoft JhengHei, DFKai-sb, PMingLiU, MingLiU, sans-serif;
		font-size: 1.5em;

	}
	.nccu:hover {
	    background: #989898;
	    color: #0f0f0f;
	}
	.nccu.math {
	    border-color: #3498db;
	    color: #3498db;
	}
	.nccu.math:hover {
		background: #3498db;
		color: #fff;
	}
	.nccu.heart {
		border-color: #e74c3c;
		color: #e74c3c;
	}
	.nccu.heart:hover {
		background: #e74c3c;
		color: #fff;
	}
	.nccu.com {
		border-color: #27ae60;
		color: #27ae60;
	}
	.nccu.com:hover {
		background: #27ae60;
		color: #fff;
	}
	.nccu.nerve {
		border-color: #f1c40f;
		color: #f1c40f;
	}
	.nccu.nerve:hover {
		background: #f1c40f;
		color: #fff;
	}
	.nccu.phy {
		border-color: #34495e;
		color: #34495e;
	}
	.nccu.phy:hover {
		background: #34495e;
		color: #fff;
	}


	.pictures {
		clear:both;
		margin: 1cm;
		margin-top: 2cm ;
		text-align: center;

	}


	.columns {
		-moz-column-count: 5;
		-moz-column-gap: 10px;
		-moz-column-fill: auto;
		column-count: 5;
		column-gap: 15px;
		column-fill: auto;
	}


	.img-thumbnail {
			padding: 12px;
			background-color: #fff;
			border-radius: 4px;
		    /*overflow:auto;*/

		    display: inline-block;
			background: #FEFEFE;
			border: 2px solid #FAFAFA;
			box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
			margin: 0 2px 15px;

			/*padding: 15px;*/
			padding-bottom: 5px;

			/*-moz-transition: all .19s ease;*/

	}


	.img-thumbnail img {
		width: 100%;
		border-bottom: 3px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 5px;
	}

	.img-thumbnail p {
		font: 18px/27px Arial, sans-serif;
		color: #333;
		margin: 0;
		font-family: 'Averia Sans Libre',Georgia,Microsoft JhengHei, DFKai-sb, PMingLiU, MingLiU, sans-serif;

	}



	@media (min-width: 960px) {
		.columns {
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
		}
	}

	@media (min-width: 1100px) {
		.columns {
			-webkit-column-count: 5;
			-moz-column-count: 5;
			column-count: 5;
		}
	}


	.img-thumbnail {
				opacity: 0.7;

	}

	.img-thumbnail:hover {

				opacity: 1.0;

	}




	.logo {
			width: 80px;
			height: 80px;
		}
	footer {
			padding-top: 1cm;
		    clear:both;
		    text-align: center;
			font-family: 'Averia Sans Libre',Georgia,Microsoft JhengHei, DFKai-sb, PMingLiU, MingLiU, sans-serif;
			font-size: 1.3em;
			padding-bottom: 1cm;
		}




.ribbon {
	clear: both;
	background-color: #a00;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	left: -30px;
	top: 30px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
	z-index: 0;
}


.ribbon a{
	border: 1px solid #faa;
	color: #fff;
	display: block;
	font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1px 0;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;

	text-shadow: 0 0 5px #444;

}